#map-area {
    height: 500px;
    width: 100%;
}

#warn-uac {
    font-size: 1.2em;
}

#rose-view {
    position: absolute;
    height: 100%;
    max-height: 400px;
    width: 100%;
    background-color: #f0f0f0;
}

#rose-menu {
    position: absolute;
    top: 400px;
    width: 100%;
}

#rose-diagram g {
    transform: translate(50%, 50%);
}

#rose-diagram path {
    stroke: #000000;
    stroke-width: 2px;
    stroke-opacity: 50%;
}
#rose-diagram .petal.hover {
    stroke-width: 4px;
    stroke-opacity: 100%;
}

#rose-diagram .petal-label {
    text-anchor: middle;
    letter-spacing: .1rem;
    font-weight: 600;
}

span#petal-info,
span#date-info {
    position: absolute;
    left: 0;
    display: block;
    text-align: center;
    padding: .1em 0.6em;
    border: 2px solid gray;
    background-color: white;
    border-radius: 8px;
    z-index: 1000;
}

span#petal-info {
    top: 0;
}

span#petal-info.hidden {
    opacity: 0;
}

span#date-info {
    bottom: 0;
    margin-left: 15px;
    padding: .3em 1em;
    border: 3px solid darkslategray;
    font-size: 1.1em;
}

#dropdown-view {
    position: absolute;
    width: 500px;
    height: 500px;
}